<p>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Campify Test</span>
  </mat-toolbar>
</p>

<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile><button mat-raised-button color="accent" (click)="openAddSessionDialog()">Add New Session</button></mat-grid-tile>
  <mat-grid-tile><button mat-raised-button color="accent" (click)="openShowSessionsDialog()">Show Sessions</button></mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
